/* Your CSS Code here. */
.container{
	display:flex;
	flex-direction: row;
	padding:20px}
#num{
	margin:20px;
	background:lightblue;
    min-width: 50px;
	width:fit-content;
    padding: 20px;}
#roman{
	margin:20px;
	display:block;
	background:lightblue;
    min-width: 50px;
	width:fit-content;
    padding: 20px;
}
#btn{
	margin:20px;
    padding:20px ;
	
}